.intro {
  padding: 92px 0;
  color: #FFFFFF;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  max-width: 984px;
  }
@media screen and (max-width: 1024px){
.intro{
  max-width: 928px;
  }
}
@media screen and (max-width: 948px){
.intro{
  padding: 88px 24px;
  }
}
@media screen and (max-width: 769px) {
.intro {
  max-width: 720px;
  padding: 64px 16px;
  }
}
